:root {
  --black: #191919;
  --white: #ffffff;
  --primary: #f15025;
  --secondary: #e6e8e6;
  --tertiary: #ced0ce;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

#page-container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

h1 {
  color: var(--white);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 0;
  background-color: var(--black);
  height: 10vh;
  width: 100%;
}

.logo {
  width: 50px;
}

#quiz-container {
  position: absolute;
  left: 0;
  top: 10vh;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  background: radial-gradient(25px at calc(100% + calc(25px * 0.866)) 50%, #762b52 99%, transparent 101%) 0 calc(-5 * 25px / 2),
    radial-gradient(25px at calc(100% + calc(25px * 0.866)) 50%, #762b52 99%, transparent 101%) calc(-2 * calc(25px * 0.866)) calc(25px / 2),
    radial-gradient(25px at 100% 50%, #d36164 99%, transparent 101%) 0 calc(-2 * 25px),
    radial-gradient(25px, #762b52 99%, transparent 101%) calc(25px * 0.866) calc(-5 * 25px / 2),
    radial-gradient(25px, #d36164 99%, transparent 101%) calc(25px * 0.866) calc(5 * 25px / 2),
    radial-gradient(25px at 100% 100%, #762b52 99%, transparent 101%) 0 calc(-1 * 25px),
    radial-gradient(25px at 0% 50%, #762b52 99%, transparent 101%) 0 calc(-4 * 25px),
    radial-gradient(25px, #d36164 99%, transparent 101%) calc(-1 * calc(25px * 0.866)) calc(-7 * 25px / 2),
    radial-gradient(25px, #762b52 99%, transparent 101%) calc(-1 * calc(25px * 0.866)) calc(-5 * 25px / 2),
    radial-gradient(25px at 100% 50%, #d36164 99%, transparent 101%) calc(-2 * calc(25px * 0.866)) 25px,
    radial-gradient(25px, #762b52 99%, transparent 101%) calc(-1 * calc(25px * 0.866)) calc(25px / 2),
    radial-gradient(25px, #d36164 99%, transparent 101%) calc(-1 * calc(25px * 0.866)) calc(25px / -2),
    radial-gradient(25px, #762b52 99%, transparent 101%) 0 calc(-1 * 25px),
    radial-gradient(25px, #d36164 99%, transparent 101%) calc(25px * 0.866) calc(25px / -2),
    radial-gradient(25px, #762b52 99%, transparent 101%) calc(25px * 0.866) calc(25px / 2) #d36164;
  background-size: calc(4 * calc(25px * 0.866)) calc(6 * 25px);
}

#settings-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  margin: 0;
  width: 30%;
  height: 90%;
  background-color: var(--secondary);
  color: var(--black);
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#settings-container h3 {
  font-size: 1.5rem;
  align-self: center;
}

#settings-container form {
  width: 100%;
  margin-bottom: 80px;
}

#settings-container label {
  font-size: 1rem;
  margin-bottom: 5px;
  display: inline;
}

#settings-container input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 25px;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
}

#settings-container input[type="radio"] {
  margin: 5px;
  accent-color: var(--primary);
}

#settings-container button {
  padding: 10px 20px;
  background-color: var(--tertiary);
  color: var(--black);
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
  align-self: center;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#settings-container button:hover {
  background-color: var(--primary);
  color: var(--white);
}

#questions-container {
  margin: 0;
  border-radius: 5px;
  width: 65%;
  height: 90%;
  background-color: var(--black);
  color: var(--white);
}

:focus {
  outline: none;
}

.footer {
  position: absolute;
  left: 0px;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  height: 10vh;
  background-color: var(--black);
}
