:root {
  --black: #191919;
  --white: #ffffff;
  --primary: #f15025;
  --secondary: #e6e8e6;
  --tertiary: #ced0ce;
  --oxford-blue: #1b263bff;
  --yinmn-blue: #415a77ff;
  --silver-lake-blue: #778da9ff;
}

.custom-alert {
  width: 300px;
  height: 150px;
  padding: 15px;
  border-radius: 8px;
  background-color: var(--tertiary);
  color: var(--black);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s ease-out;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.custom-alert.show {
  opacity: 1;
}

.custom-alert.hide {
  opacity: 0;
}
