:root {
  --black: #191919;
  --white: #ffffff;
  --primary: #f15025;
  --secondary: #e6e8e6;
  --tertiary: #ced0ce;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

#page-container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

h1 {
  color: var(--white);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 0;
  background-color: var(--black);
  height: 10vh;
  width: 100%;
}

.logo {
  width: 50px;
}

#poll-container {
  position: absolute;
  left: 0;
  top: 10vh;
  background-color: var(--white);
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

/* https://uiverse.io/marcelodolza/kind-panther-75 */
.background {
  width: 100%;
  height: 100%;
  --s: 100px; /* control the size */
  --c1: #f8b195;
  --c2: #355c7d;

  --_g: var(--c2) 4% 14%, var(--c1) 14% 24%, var(--c2) 22% 34%, var(--c1) 34% 44%, var(--c2) 44% 56%, var(--c1) 56% 66%, var(--c2) 66% 76%,
    var(--c1) 76% 86%, var(--c2) 86% 96%;
  background: radial-gradient(100% 100% at 100% 0, var(--c1) 4%, var(--_g), #0008 96%, #0000),
    radial-gradient(100% 100% at 0 100%, #0000, #0008 4%, var(--_g), var(--c1) 96%) var(--c1);
  background-size: var(--s) var(--s);
}

#display-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 20px;
  margin: 0;
  width: 60%;
  height: 90%;
  background-color: var(--secondary);
  color: var(--black);
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#question-and-answers {
  height: 80%;
  width: 100%;
  padding: 0;
  overflow-y: auto;
  overflow-x: hidden;
}

.answer-element {
  display: flex;
  flex-direction: row;
  align-items: center; /* Center content within the container */
  justify-content: space-around;
  width: 100%;
  margin: 5px;
}

.emojiContainer {
  display: flex;
  align-items: center; /* Center content within the container */
  justify-content: center;
  width: 42px;
  height: 35px;
  margin: 0; /* Remove any unnecessary margin */
  border-radius: 3px;
  background-color: var(--white);
  line-height: 1; /* Match line-height with other elements */
}

.answerText {
  width: 85%;
}

#poll-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 17%;
  width: 100%;

  p {
    color: var(--primary);
    margin: 0 5px;
    padding: 0;
    font-size: 0.8rem;
  }
}

#additional-data {
  width: 40%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

#copy-code-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 1px solid var(--primary);
  border-radius: 8px;
  height: 80%;
  width: 225px;
  padding: 10px;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: copy;
}

#copy-code-container:hover {
  background-color: var(--primary);
}

.footer {
  position: absolute;
  left: 0px;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  height: 10vh;
  background-color: var(--black);
}

/* https://www.w3schools.com/howto/howto_css_custom_scrollbar.asp */
::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
