:root {
  --black: #191919;
  --white: #ffffff;
  --primary: #f15025;
  --secondary: #e6e8e6;
  --tertiary: #ced0ce;
  --discord-blue: #5865f2;
  --discord-dark-blue: #4752c4;
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-image: repeating-linear-gradient(0deg, black, 1px, white 1px, white);
  background-size: 100% 30px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
}

#container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  padding: 50px;
  margin-top: 50px;
  background-color: var(--secondary);
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

img {
  width: 60px;
}
