:root {
  --black: #191919;
  --white: #ffffff;
  --primary: #f15025;
  --secondary: #e6e8e6;
  --tertiary: #ced0ce;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  background-color: var(--black);
  color: var(--white);
  margin: 0;
  padding: 0;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

#page-container {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
}

h1 {
  color: var(--white);
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  margin: 0;
  background-color: var(--black);
  height: 10vh;
  width: 100%;
}

.logo {
  width: 50px;
}

#quiz-container {
  position: absolute;
  left: 0;
  top: 10vh;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 80vh;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background: radial-gradient(25px at calc(100% + calc(25px * 0.866)) 50%, #762b52 99%, transparent 101%) 0 calc(-5 * 25px / 2),
    radial-gradient(25px at calc(100% + calc(25px * 0.866)) 50%, #762b52 99%, transparent 101%) calc(-2 * calc(25px * 0.866)) calc(25px / 2),
    radial-gradient(25px at 100% 50%, #d36164 99%, transparent 101%) 0 calc(-2 * 25px),
    radial-gradient(25px, #762b52 99%, transparent 101%) calc(25px * 0.866) calc(-5 * 25px / 2),
    radial-gradient(25px, #d36164 99%, transparent 101%) calc(25px * 0.866) calc(5 * 25px / 2),
    radial-gradient(25px at 100% 100%, #762b52 99%, transparent 101%) 0 calc(-1 * 25px),
    radial-gradient(25px at 0% 50%, #762b52 99%, transparent 101%) 0 calc(-4 * 25px),
    radial-gradient(25px, #d36164 99%, transparent 101%) calc(-1 * calc(25px * 0.866)) calc(-7 * 25px / 2),
    radial-gradient(25px, #762b52 99%, transparent 101%) calc(-1 * calc(25px * 0.866)) calc(-5 * 25px / 2),
    radial-gradient(25px at 100% 50%, #d36164 99%, transparent 101%) calc(-2 * calc(25px * 0.866)) 25px,
    radial-gradient(25px, #762b52 99%, transparent 101%) calc(-1 * calc(25px * 0.866)) calc(25px / 2),
    radial-gradient(25px, #d36164 99%, transparent 101%) calc(-1 * calc(25px * 0.866)) calc(25px / -2),
    radial-gradient(25px, #762b52 99%, transparent 101%) 0 calc(-1 * 25px),
    radial-gradient(25px, #d36164 99%, transparent 101%) calc(25px * 0.866) calc(25px / -2),
    radial-gradient(25px, #762b52 99%, transparent 101%) calc(25px * 0.866) calc(25px / 2) #d36164;
  background-size: calc(4 * calc(25px * 0.866)) calc(6 * 25px);
}

#display-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 20px;
  margin: 0 20px;
  width: 50%;
  height: 90%;
  background-color: var(--secondary);
  color: var(--black);
  border-radius: 15px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

#hash-url {
  visibility: hidden;
}

#questions {
  width: 100%;
  height: 45vh;
  overflow-y: auto;
}

.question-container {
  margin: 10px 10px 10px 0;
  padding: 5px;

  display: flex;
  flex-direction: column;
  border: 1px solid var(--primary);
  border-radius: 8px;

  h5 {
    margin: 0;
    padding: 10px 0 0 0;
  }

  p {
    margin: 0;
    padding: 5px 0;
  }
}

#copy-code-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  border: 1px solid var(--primary);
  border-radius: 8px;
  height: 60px;
  width: 225px;
  padding: 10px;
  font-size: 1.3rem;
  font-weight: 600;
  cursor: copy;
}

.footer {
  position: absolute;
  left: 0px;
  bottom: 0;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  height: 10vh;
  background-color: var(--black);
}

#snackbar {
  visibility: hidden; /* Hidden by default. Visible on click */
  min-width: 250px; /* Set a default minimum width */
  margin-left: -125px; /* Divide value of min-width by 2 */
  background-color: var(--tertiary); /* Black background color */
  color: var(--primary); /* White text color */
  text-align: center; /* Centered text */
  border-radius: 2px; /* Rounded borders */
  padding: 16px; /* Padding */
  position: fixed; /* Sit on top of the screen */
  z-index: 1; /* Add a z-index if needed */
  left: 50%; /* Center the snackbar */
  top: 30px; /* 30px from the bottom */
  border-radius: 8px;
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
  visibility: visible; /* Show the snackbar */
  /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
  However, delay the fade out process for 2.5 seconds */
  -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
  animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    top: 0;
    opacity: 0;
  }
  to {
    top: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    top: 30px;
    opacity: 1;
  }
  to {
    top: 0;
    opacity: 0;
  }
}
