<!DOCTYPE html>
<html lang="en">
  <head>
    <meta vharset="" UTF-8 />
    <title>Error</title>
    <link rel="stylesheet" href="/styles/error.css" />
    <link rel="icon" type="image/png" href="/assets/OhmcordLogo.png" />
  </head>
  <body>
    <div id="container">
      <h1>Error: Ungültige URL</h1>
      <p><%= locals.text %></p>
      <a href="<%= locals.url %>"><img src="/assets/OhmcordLogo.png" alt="Ohmcord Logo" /></a>
    </div>
  </body>
</html>
