<!DOCTYPE html>
<html lang="en">
  <head>
    <meta vharset="" UTF-8 />
    <title>Error</title>
    <link rel="icon" type="image/png" href="/assets/OhmcordLogo.png" />
  </head>
  <body>
    <h1>Error</h1>
    <%= locals.text %>
  </body>
</html>
