<!DOCTYPE html>
<html lang="en">
  <head>
    <meta vharset="" UTF-8 />
    <title>Ohmcord</title>
    <link rel="stylesheet" href="/styles/index.css" />
    <link rel="icon" type="image/png" href="/assets/OhmcordLogo.png" />
  </head>
  <body>
    <div id="page-container">
      <div class="header">
        <a href="/"><img class="logo" src="/assets/OhmcordLogo.png" /></a>
        <h1>Ohmcord</h1>
        <h3><a href="/help">/hilfe</a></h3>
      </div>

      <div id="tools-container">
        <div id="brainstorm-container" class="tool-container">
          <h1>Brainstorm</h1>
          <p>
            Starte eine Brainstorm-Session in discord mit dem command <i>/brainstorm</i>. <br />
            Oder kopiere den 6 Stelligen Code einer bestehenden Session in das untere Feld um dir die Ergebnisse anzusehen.
          </p>
        </div>
        <div id="question-container" class="tool-container">
          <h1>Anonyme Fragen</h1>
          <p>
            Starte eine anonyme Fragerunde in discord mit dem command <i>/anonymous-question</i>. <br />
            Oder kopiere den 6 Stelligen Code einer bestehenden Session in das untere Feld um dir die Ergebnisse anzusehen.
          </p>
        </div>
        <div id="quiz-container" class="tool-container">
          <h1>Quiz</h1>
          <p>
            Erstelle ein neues Quiz oder bearbeite ein bestehendes mit Eingabe des 6 stelligen Codes. <br />
            Starte das Quiz in discord mit dem command <i>/quiz</i> und dem 6 stelligen Code.
          </p>
          <div id="quiz-actions">
            <a href="/create-quiz">Erstelle ein Quiz</a>
          </div>
        </div>
        <div id="poll-container" class="tool-container">
          <h1>Umfrage</h1>
          <p>
            Erstelle eine neue Umfrage über den Button. <br />
            Starte die Umfrage in discord mit dem command <i>/poll</i> und dem 6 stelligen Code.
          </p>
          <a href="/poll">Erstelle eine Umfrage</a>
        </div>
      </div>

      <div class="footer">
        <a class="discord-button" target="_blank" href="<%= locals.addBotUrl %>">Auf Server hinzufügen</a>
      </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="/scripts/questions.js"></script>
  </body>
</html>
